/* 版心1190px */
.w {
  width: 1190px;
  margin: 0 auto;
  position: relative;
}
body,
ul,
ol,
input,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
tr,
td,
dl,
dd,
dt,
button {
  margin: 0;
  padding: 0;
  bottom: 0;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
ul,
ol,
li {
  list-style: none;
}
i,
em {
  font-style: normal;
}
input,
button {
  border: 0;
  outline: none;
}
a,
a:focus,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}
a:hover {
  transition: color .3s;
}
a {
  text-decoration: none;
  font-size: 12px;
  color: #999;
}
body {
  background-color: #f0f3ef;
}
.red {
  color: #f10215;
}
.J_adv {
  height: 80px;
  transition: all .5s;
}
/*广告栏*/
#J_adv_lk {
  display: block;
  background: url("../images/adv.jpg") no-repeat center;
  width: 100%;
  height: 80px;
}
.J_adv_close__btn {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 20px;
  height: 20px;
  color: #ccc;
  cursor: pointer;
  text-align: center;
  transition: all .3s;
}
.J_adv_close__btn:hover {
  background: rgba(255, 255, 255, 0.2);
}
/* 快速导航栏begin */
#jd_nav {
  width: 100%;
  height: 30px;
  background-color: #e3e4e5;
  color: #999;
  line-height: 30px;
  border-bottom: 1px solid #ddd;
}
.jd_add {
  font-size: 0px;
  z-index: 10;
  position: relative;
  height: 28px;
  padding: 0 7px;
  margin-left: 200px;
  border: 1px solid #e3e4e5;
}
.jd_add .icon_gps {
  margin-right: 4px;
  font-size: 14px;
  color: #f10215;
}
.jd_add span {
  font-size: 12px;
}
.jd_add:hover {
  padding-bottom: 2px;
  border: 1px solid #ccc;
  border-bottom: none;
  background: #fff;
}
.jd_add:hover .hide_add {
  display: block;
}
.w {
  height: 30px;
}
.w .fr li {
  position: relative;
  font-size: 12px;
  float: left;
}
.w .fr li span {
  font-size: 12px;
}
.w .fr li:hover .red_link {
  color: #f10215;
}
.w .fr li:hover .hide_father {
  border: 1px solid #ccc;
  border-bottom: none;
  padding-bottom: 2px;
  background: #fff;
  z-index: 11;
}
.w .fr li:hover .hide_navChild {
  display: block;
}
.nav_lis {
  position: relative;
  height: 28px;
  border: 1px solid #e3e4e5;
  padding: 0 5px;
}
.hide_navChild {
  display: none;
  position: absolute;
  top: 30px;
  border: 1px solid #ccc;
  background: #fff;
  box-shadow: 0px 2px 5px #ddd;
  z-index: 10;
}
.hide_navChild.wdjd {
  left: 0;
  width: 280px;
}
.hide_navChild.wdjd .myjd {
  padding: 10px 0 10px 15px;
}
.hide_navChild.wdjd .myjd div {
  width: 50%;
}
.hide_navChild.qycg {
  left: 0;
  width: 160px;
}
.hide_navChild.qycg .myqy {
  padding: 10px 10px 10px 15px;
}
.hide_navChild.khfw {
  right: 0;
  width: 170px;
  padding: 10px 0;
}
.hide_navChild.khfw .mykh {
  padding: 0 10px;
}
.hide_navChild.khfw .tit {
  color: #666;
}
.hide_navChild.wzdh {
  right: -72px;
  width: 1190px;
  padding: 15px 0;
  background-color: #fff;
}
.hide_navChild.wzdh dl {
  box-sizing: border-box;
  padding: 0px 0px 0px 20px;
  width: 276px;
  float: left;
  border-left: 1px solid #eee;
}
.hide_navChild.wzdh dl dt {
  color: #666;
}
.hide_navChild.wzdh dl dd {
  line-height: 24px;
}
.hide_navChild.wzdh dl dd div {
  width: 85px;
  float: left;
}
.hide_navChild.wzdh .fore1 {
  width: 360px;
  border-left: none;
}
.hide_navChild.jdmobile {
  width: 190px;
  background: #fff;
  left: auto;
  right: -1px;
  top: 29px;
  box-shadow: none;
  border-bottom: 3px solid #60575a;
}
.hide_navChild a {
  color: #999;
  font-size: 12px;
}
.hide_navChild a:hover {
  color: #f10215;
}
.hide_add {
  position: absolute;
  top: 30px;
  left: -1px;
  display: none;
  width: 300px;
  padding: 10px;
  background: #fff;
  border: 1px solid #ccc;
  border-top: none;
}
.add_item {
  width: 60px;
  font-size: 12px;
  float: left;
}
.add_item a {
  display: inline-block;
  padding: 0 8px;
}
.add_item:hover a {
  background: #f4f4f4;
  color: #f10215;
}
.add_item.active a {
  color: #fff;
  background: #f10215;
}
.jd_code {
  width: 76px;
  height: 76px;
  box-shadow: 0px 2px 5px #ddd;
  position: absolute;
  top: 29px;
  right: 0px;
}
.jd_code img {
  width: 60px;
  height: 60px;
  margin: 2px;
  position: absolute;
  top: 7px;
  left: 7px;
}
.jd_code::before {
  content: "";
  display: block;
  position: absolute;
  top: -9px;
  left: 50%;
  width: 0px;
  height: 0px;
  border-width: 5px;
  border-style: solid;
  z-index: 11;
  border-color: transparent transparent #fff;
}
.mobile_hide_item_1,
.mobile_hide_item_2,
.mobile_hide_item_3 {
  position: relative;
  height: 101px;
  box-sizing: border-box;
  padding-left: 5px;
}
.mobile_hide_item_1 {
  border-bottom: 1px solid #e7e7e7;
}
.mobile_hide_item_2 {
  border-bottom: 1px solid #e7e7e7;
}
.mobile_hide__qrcode {
  position: absolute;
  top: 15px;
  height: 70px;
}
.mobile_hide__qrcode img {
  height: 70px;
  width: 70px;
}
.mobile_hide_info {
  position: absolute;
  top: 15px;
  left: 70px;
  padding-left: 10px;
}
.mobile_hide_info h5 {
  line-height: 17px;
}
.mobile_hide_info a {
  color: #666;
}
.mobile_hide_info a:hover {
  color: #666;
}
.mobile_hide_info p {
  line-height: 14px;
  color: red;
  margin: 3px 0px;
  padding-right: 10px;
}
.mobile_hide_device {
  overflow: hidden;
  height: 25px;
  text-indent: -999em;
}
.mobile_hide_device a {
  float: left;
  width: 25px;
  height: 25px;
  background-image: url(../images/sprite_mobile@1x.png);
  margin-right: 3px;
}
.mobile_hide_ios {
  background-position: 0 0;
}
.mobile_hide_and {
  background-position: 0 -26px;
}
.mobile_hide_ipad {
  background-position: 0 -52px;
}
/*小竖线*/
.space {
  width: 1px;
  height: 10px;
  background-color: #ccc;
  margin: 12px 5px 0;
  /*上10 左右12 下0*/
}
/* 快速导航栏over */
/* 中间头部*/
.middle {
  height: 140px;
  position: relative;
}
.form {
  width: 550px;
  height: 35px;
  position: absolute;
  top: 25px;
  left: 260px;
}
.form .form_camera {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 70px;
  color: #666;
  transition: all .3s;
}
.form .form_camera:hover {
  color: #f10215;
}
.form input {
  width: 495px;
  height: 35px;
  float: left;
  font-size: 14px;
  color: #333;
  padding-left: 3px;
}
.form button {
  width: 50px;
  height: 35px;
  background-color: #f10215;
  float: left;
  transition: all .3s;
}
.form button:hover {
  background: #C81623;
}
/* 购物车 */
.shopCar {
  width: 180px;
  height: 33px;
  border: 1px solid #ccc;
  position: absolute;
  top: 25px;
  right: 180px;
  line-height: 33px;
  text-align: center;
}
.shopCar span {
  width: 15px;
  height: 15px;
  background-color: #f10215;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 30px;
  font-size: 12px;
  color: #fff;
  line-height: 15px;
}
.shopCar a {
  color: #f10215;
}
.hotwords {
  width: 550px;
  height: 20px;
  font-size: 12px;
  position: absolute;
  top: 68px;
  left: 260px;
  color: #999;
}
.hotwords a {
  margin: 0px 5px 0px 0px;
}
.hotwords a:hover {
  color: #f10215;
}
.hotWord {
  color: #f10215;
}
/* 小导航 */
.navitems {
  width: 790px;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 200px;
  line-height: 40px;
}
.navitems li {
  float: left;
  margin-left: 30px;
}
.navitems li a {
  font-size: 14px;
  color: #333333;
}
.navitems li a:hover {
  color: #f10215;
}
.navitems .space {
  margin: 16px -15px 0px 15px;
}
/* 超级日 */
.super {
  position: absolute;
  bottom: 10px;
  right: 0;
}
.icon_shoppingcart {
  color: #f10215;
}
.icon_search {
  color: #fff;
  font-size: 14px;
}
/* logo雪碧图 */
.logo {
  position: absolute;
  top: -32px;
  left: 0;
}
.logo a {
  display: block;
  background: url(../images/sprite.head.png) no-repeat;
  width: 190px;
  height: 170px;
  border: 1px solid #ccc;
  box-shadow: 5px 0px 5px #ddd;
}
.logo a:hover {
  background: url(../images/logo_header.gif) #fff;
}
footer {
  height: 550px;
}
.footer_service {
  padding: 30px 0;
  border-bottom: 1px solid #DEDEDE;
  overflow: hidden;
  /* 多快好省 精灵图*/
}
.footer_service li {
  position: relative;
  width: 297px;
  height: 43px;
  line-height: 43px;
  float: left;
}
.footer_service li p {
  font-size: 18px;
  font-weight: bold;
  margin-left: 82px;
  color: #444;
}
.footer_service li h5 {
  position: absolute;
  top: 0;
  left: 38px;
  width: 37px;
  height: 43px;
  background: url(../images/sprite.footer.png) no-repeat;
  background-position: 0 -190px;
  text-indent: -999em;
}
.footer_service li:nth-child(2) h5 {
  background-position: -40px -190px;
}
.footer_service li:nth-child(3) h5 {
  background-position: -81px -190px;
}
.footer_service li:nth-child(4) h5 {
  background-position: -123px -190px;
}
/*购物指南*/
.help {
  height: 200px;
  border-bottom: 1px solid #DEDEDE;
  padding: 20px 0;
  box-sizing: border-box;
}
.help dl {
  width: 192px;
  float: left;
}
.help dt {
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  color: #666;
}
.help dd {
  height: 22px;
}
.help dd a:hover {
  color: #f10215;
}
.help .cover {
  width: 200px;
  height: 150px;
  background-image: url(../images/sprite.footer.png);
}
.help .cover .icon-xiangyoujiantou {
  font-size: 12px;
}
.help .cover h5 {
  height: 30px;
  font-size: 14px;
  color: #666;
  text-align: center;
  margin: 0px 0px 15px;
}
.help .cover p {
  font-size: 12px;
  color: #666;
  width: 180px;
}
.help .cover a {
  display: block;
  width: 180px;
  text-align: right;
  padding: 5px 0px;
}
.help .cover a:hover {
  color: #f10215;
}
/*底部链接*/
.coryright {
  padding-top: 20px;
  text-align: center;
  font-size: 12px;
}
.copyright_links a {
  color: #666;
}
.copyright_links span {
  margin: 0px 10px;
  color: #ccc;
}
.copyright_info {
  color: #999;
  padding: 10px 0px;
}
.copyright_info span {
  margin: 0px 5px;
}
.copyright_info p {
  line-height: 22px;
}
.copyright_info a {
  color: #999;
}
.copyright_info a:hover {
  color: #f10215;
}
.copyright_license {
  margin: 0px 0px 0px 15px;
}
.copyright_auth {
  height: 36px;
  margin: 25px 0px;
}
.copyright_auth a {
  display: inline-block;
  width: 103px;
  height: 33px;
  text-indent: -999em;
}
.copyright_auth .copyright_auth_1 {
  background: url(../images/sprite.footer.png) no-repeat -205px -110px;
}
.copyright_auth .copyright_auth_2 {
  background: url(../images/sprite.footer.png) no-repeat -205px -74px;
}
.copyright_auth .copyright_auth_3 {
  background: url(../images/sprite.footer.png) no-repeat -205px -36px;
}
.copyright_auth .copyright_auth_4 {
  background: url(../images/sprite.footer.png) no-repeat -205px 0px;
}
.copyright_auth .copyright_auth_5 {
  background: url(../images/sprite.footer.png) no-repeat 0px -155px;
}
.mod_service_kuai {
  background-repeat: no-repeat;
  background-position: -41px -192px;
  background-image: url(../images/sprite.footer.png);
}
